/VanillaGlobalChannel-Plugin/Bukkit/target/
/VanillaGlobalChannel-Plugin/Bungeecord/target/
/VanillaGlobalChannel-Plugin/Common/target/
/VanillaGlobalChannel-Plugin/Nukkit/target/
/VanillaGlobalChannel-Plugin/Velocity/target/
/.idea/
/VanillaGlobalChannel-SpringBoot/target/
/VanillaGlobalChannel-Solon/target/
/GlobalChannel-API/target/
/GlobalChannel-UserAPI/target/
/UserAPI/src/test/